/* ==================== ALL/DAILY TASKS ==================== */

.all-tasks-container,
.daily-tasks-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-colour);
  overflow: hidden;
  /* border: 1px solid red; */
}

.all-tasks-content,
.daily-tasks-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-start;
  width: 95%;
  height: 95%;
  /* border: 1px solid orange; */
}

.all-tasks-content h1,
.daily-tasks-content h1 {
  margin: 0;
}

.all-tasks-topbar,
.daily-tasks-topbar {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.all-tasks-topbar-btn,
.daily-tasks-topbar-btn {
  width: 100px;
  font-size: 16px;
}
.all-tasks-display,
.daily-tasks-display {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 1px;
  padding-right: 1px;
}

/* ==================== ALL TASKS ==================== */
.all-tasks-row {
  display: table;
  width: 100%;
  height: var(--all-tasks-row-height);
  margin-bottom: 2px;
  border: 1px solid var(--light-accent-colour);
  border-radius: var(--all-tasks-row-radius);
  background-color: white;
}
.all-tasks-col {
  display: table-cell;
  vertical-align: middle;
}
.all-tasks-col:first-child {
  text-align: center;
}
.all-tasks-col:last-child {
  text-align: right;
}
.all-tasks-handle {
  width: var(--all-tasks-row-height);
}
.all-tasks-date,
.all-tasks-time {
  width: 20%;
}
.all-tasks-edit,
.all-tasks-delete {
  width: var(--all-tasks-row-height);
}
.all-tasks-col p {
  margin: 0;
  padding: 0;
}
.all-tasks-name-text,
.all-tasks-date-text,
.all-tasks-time-text {
  margin-left: 3px !important;
}
.all-tasks-edit-btn,
.all-tasks-delete-btn {
  width: var(--all-tasks-row-height);
  height: var(--all-tasks-row-height);
  margin-left: 3px;
  text-decoration: none;
  border: none;
  border-radius: var(--all-tasks-row-radius);
  color: white;
}
.all-tasks-edit-btn {
  background-color: var(--primary-colour);
}
.all-tasks-edit-btn:hover {
  background-color: var(--primary-colour-hover);
}
.all-tasks-delete-btn {
  background-color: red;
}
.all-tasks-delete-btn:hover {
  background-color: firebrick;
}

/* ==================== DAILY TASKS ==================== */
.daily-tasks-topbar-btn {
  height: 40px;
  border: none;
  border-radius: 100px;
  color: white;
  background-color: red;
  transition: 0.2s all;
}
.daily-tasks-topbar-btn:hover {
  background-color: firebrick;
}
.daily-tasks-row {
  display: table;
  width: 100%;
  height: var(--daily-tasks-row-height);
  margin-bottom: 2px;
  border-radius: var(--daily-tasks-row-radius);
}
.daily-tasks-col {
  display: table-cell;
  vertical-align: middle;
}
.daily-tasks-col:first-child {
  text-align: center;
}
.daily-tasks-time-display {
  width: 12%;
  color: white;
  background-color: var(--primary-colour);
  border-radius: var(--daily-tasks-row-radius);
}
.daily-tasks-item-content,
.daily-tasks-empty-dropzone {
  height: var(--daily-tasks-row-height);
  border-radius: var(--daily-tasks-row-radius);
}
.daily-tasks-item-content {
  border: 1px solid var(--light-accent-colour);
}
.daily-tasks-empty-dropzone {
  border: 1px dashed var(--light-accent-colour);
}
.daily-tasks-item-content {
  display: table;
  width: 100%;
  height: var(--daily-tasks-row-height);
}
.daily-tasks-item-col {
  display: table-cell;
  vertical-align: middle;
}
.daily-tasks-item-col:first-child {
  text-align: left;
}
.daily-tasks-item-col:last-child {
  text-align: right;
}
.daily-tasks-item-col p {
  margin: 0;
  padding: 0;
}
.daily-tasks-reset-btn {
  width: var(--all-tasks-row-height);
  height: var(--all-tasks-row-height);
  text-decoration: none;
  border: none;
  border-radius: var(--all-tasks-row-radius);
  color: white;
  background-color: red;
}
.daily-tasks-reset-btn:hover {
  background-color: firebrick;
}
